@model IEnumerable<EventEase.Models.Venue>

@{
    ViewData["Title"] = "Venues";
}

<h1>Venues</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            @* ... Table headers ... *@
        </tr>
    </thead>
    <tbody>
        @* ... Table data ... *@
    </tbody>
</table>