@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to EventEase</h1>
    <p>Your one-stop platform for managing your events.</p>
    <hr />
    <p>
        <a href="/Venue/Index" class="btn btn-primary btn-lg">Browse Venues</a>
    </p>
    <p>
        <a href="/Event/Index" class="btn btn-info btn-lg">Manage Events</a>
    </p>
    <p>
        <a href="/BookingViewModel/EnhancedIndex" class="btn btn-secondary btn-lg">EnhancedIndex</a>
    </p>
    <p>
        <a href="/Booking/Index" class="btn btn-secondary btn-lg">BookingIndex</a>
    </p>
<p>
        <a href="/Venue/Create" class="btn btn-warning btn-lg">Venue Create</a>
</p>
    <p>
        <a href="/Venue/Delete" class="btn btn-warning btn-lg">Venue Delete</a>
    </p>
    <p>
        <a href="/Event/Index" class="btn btn-info btn-lg">Manage Events</a>
    </p>
   
</div>